@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.listings-container {
  width: 100vw;
}

.car-listings {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.car-listings-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}


.car-listing-item {
  border-radius: 5px;
  width: 100%;
  height: auto;
  border: 1px solid lightgrey;
}

.car-listings-image {
  position: relative;
}

.car-listings-image span {
  position: absolute;
  left: 5px;
  top: 5px;
}
.car-listings-image img {
  width: 100%;
  height: 220px;
}

.car-listing-description {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.car-listings-inner-description {
  line-height: 1.6;
}

.car-listing-description button {
  padding: 5px 30px;
}

.listings-heading{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  
}
.listings-heading hr{
  width: 300px;
  
}
.listings-heading h4{
  margin: 0 30px;
}

