@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.listings-container {
  width: 100vw;
}

.car-listings {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.car-listings-container {
  background-color: green;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.car-listings-item {
  border-radius: 5px;
}
.listings-heading{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  
}
.listings-heading hr{
  width: 300px;
  
}
.listings-heading h4{
  margin: 0 30px;
}

