.cart-container{
  padding-top: 100px;
}
.check-out{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.item-image img{
  width: 250px;
  height: 180px;
}
.cart-items{
  padding: 30px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  margin: 50px;

}
.item-details h4{
 color: rgb(112, 109, 109);
 font-size: 20px;
}
.item-details i{
cursor: pointer;
}
.q{
  display: inline;
  padding: 5px;
}