@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
.navbar{
    padding: 5px;
    background-color: aqua;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    
}
.navbar-container h1{
    font-family: 'Pacifico' , sans-serif;
}
.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 0 5px;

  }
  