@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
.navbar{
    padding: 5px;
    background-color:orange;
    position: fixed;
    width: 100%;
    z-index: 1;
    color: #f5f5f5;

}
.navbar-container{
    display: flex;
    justify-content: space-between;
    
}
.navbar-container h1{
    font-family: 'Pacifico' , sans-serif;
}
#cart-count {
    
    margin-top: -5px;
    background-color: blue;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -11px; 

  }
  .cart{
    font-size: 25px;
  }
  